<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Password Generator</title>
  </head>
  <body>
    <div>
      <form action="/response">
        <label for="length">How long do you want your password (more than 16 is recommended)?</label>
        <input type="text" id="length" name="length"><br>
      
        <label for="amount">How many passwords do you want generated?</label>
        <input type="text" id="amount" name="amount"><br>
      
        <label for="color">What is the name of a pet you owned (optional or any keyword)?</label>
        <input type="text" id="color" name="color"><br>
      
        <label for="pet">What is the month you were born (optional or any keyword)?</label>
        <input type="text" id="pet" name="pet"><br>
      
        <label for="symbol">Include symbols?</label>
        <input type="checkbox" name="symbol" checked value="true" />
        <input type="hidden" name="symbol" value="false" /><br>
      
        <label for="number">Include numbers?</label>
        <input type="checkbox" name="number" checked value="true" />
        <input type="hidden" name="number" value="false" /><br>
      
        <input type="submit" value="Submit">
        <input type="reset">
      </form><br>
    </div>
    <div>
      <p class="error">{{ response }}</p>
      <p><u>{{ responseTwo }}</p>
    </div>
  </body>
</html>
